[listen]
ip = 127.0.0.1
port = 8964
visible = 1
debuginfo = 0

[gae]
appid = <appid>
password = 
path = /2
profile = <profile>
crlf = 1

[pac]
enable = 1
ip = 127.0.0.1
port = 8965
file = proxy.pac
gfwlist = http://autoproxy-gfwlist.googlecode.com/svn/trunk/gfwlist.txt

[paas]
enable = 0
password = 123456
listen = 127.0.0.1:8088
isphp = 0
fetchserver = http://1.duapp.com/index.php

[proxy]
enable = 0
host = 10.64.1.63
port = 8080
username = 
password = 

[google_hk]
mode = https
hosts = www.google.com|mail.google.com|www.l.google.com|mail.l.google.com
sites = .google.com|.googleusercontent.com|.googleapis.com|.google-analytics.com|.googlecode.com|.google.com.hk|.googlegroups.com
forcehttps = www.google.com/url|groups.google.com|code.google.com|mail.google.com|docs.google.com|profiles.google.com|developer.android.com|www.google.com.hk|webcache.googleusercontent.com
withgae = translate.googleapis.com|plus.url.google.com|plus.google.com|plusone.google.com|reader.googleusercontent.com|music.google.com|apis.google.com|feedproxy.google.com|books.google.com|autoproxy-gfwlist.googlecode.com

[google_gfq]
mode = https
hosts = <hosts>
sites = 
forcehttps = 
withgae = 

[autorange]
hosts = .youtube.com|.atm.youku.com|.googlevideo.com|av.vimeo.com|smile-*.nicovideo.jp|video.*.fbcdn.net|s*.last.fm|x*.last.fm
threads = 2
maxsize = 1048576
waitsize = 524288
bufsize = 8192

[crlf]
enable = 0
dns = 8.8.8.8
sites = .youtube.com|.ytimg.com

[dns]
enable = 0
listen = 127.0.0.1:53
remote = 8.8.8.8
cachesize = 5000
timeout = 2

[socks5]
enable = 0
password = 
listen = 127.0.0.1:8089
fetchserver = http://.me:23/

[useragent]
enable = 0
string = Mozilla/5.0 (Windows NT 6.1; rv:18.0) Gecko/20100101 Firefox/18.0

[fetchmax]
local = 
server = 

[love]
enable = 1
timestamp = 1345829781
tip = \u7FFB\u8FC7\u5899\u5C31\u662F\u82F1\u96C4

[hosts]
www.253874.com = 